asgiref==3.7.2
beautifulsoup4==4.12.2
certifi==2023.11.17
distlib==0.3.7
Django==4.2.7
django-bootstrap-v5==1.0.11
Faker==30.8.1
filelock==3.13.1
mpmath==1.3.0
pipenv==2023.11.15
platformdirs==4.0.0
ply==3.11
python-dateutil==2.9.0.post0
setuptools==69.0.2
six==1.16.0
soupsieve==2.5
sqlparse==0.4.4
sympy==1.12
typing_extensions==4.12.2
tzdata==2023.3
virtualenv==20.25.0
